.dashboard{
    width:100%;
    height: 100vh;
    padding-top: 70px;
    background: #eee;
    overflow:hidden;
    
    .main-container{
       
        width:95vw;
        height: 90vh;
        margin:0 auto;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        
    }

    .main-container-mobile{
        width:90vw;
        height: 84vh;
        margin:0 auto;
        display: flex;
        flex-direction: column;
        justify-content:space-between;
        align-items: center;
         
        .tabs{
            width:100%;
            height: 10%;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 6px;
            box-shadow: 0 0 3px 3px rgba(0,0,0,0.1);
            background: #fff;
            overflow: hidden;
            .option{
                width:33%;
                height: 100%;
            }
        }

        
        .mobile-map-container{
            width:100%;
            height: 84%;
            
            display: flex;
            flex-direction: column;
            justify-content:flex-start;
            align-items: center;

            .title{
                width:100%;
                height: 2.4rem;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1.2rem;
                font-weight: 600;
                text-transform: uppercase;
            }

            .body{
                width:90%;
                height: calc(87%);
                background: #fff;
                border-radius: 10px;
                box-shadow: 0 3px 6px 0 rgba(0,0,0,0.1);
                overflow: hidden;
            }
        }

        .mobile-chart-container{
            width:100%;
            height: 84%;
            
            display: flex;
            flex-direction: column;
            justify-content:flex-start;
            align-items: center;

            .title{
                width:100%;
                height: 2.4rem;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1.2rem;
                font-weight: 600;
                text-transform: uppercase;
            }

            .body{
                width:90%;
                height: calc(87%);
                background: #fff;
                border-radius: 10px;
                box-shadow: 0 3px 6px 0 rgba(0,0,0,0.1);
                overflow: hidden;
            }
        }
    }
}

