.container{
    width:25%;
    height: 70vh;
    // overflow-y: scroll;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.1);
    margin-top: 2.4rem;
    border-radius: 6px;

    .title{
        width: 90%;
        height: 2.4rem;
        
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        font-size: 1.2rem;
        font-weight: 600;
    }

    .body{
        
        width: 96%;
        height: calc(100% - 2.4rem);
        overflow-y: scroll;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(auto-fill, minmax(1fr,250px));
        gap:15px;
        justify-items: center;
        

        &::-webkit-scrollbar{
            display: block;
            width:5px;
            background:  transparent;
            z-index: 0.5;
            &:hover{
                cursor: pointer;
                width: 7px;
            }
        }

        &::-webkit-scrollbar-thumb{
            background: #ddd;
            border-radius: 100px;

           
        }

    }

    &:hover{

        .body{
            &::-webkit-scrollbar{
                display: block;
            }
        }
    }
    
}